<div class="main">
    <button mat-button style="display: flex;">
        <img src="../../../../assets/images/icons8-dashboard-24.png">
        Dashboard
    </button>
    <button mat-button class="content">
        <img src="../../../../assets/images/icons8-medical-32.png">
        Doctors
    </button>
    <button mat-button class="content">
        <img src="../../../../assets/images/icons8-clock-24.png">
        Schedule
    </button>
    <button mat-button class="content">
        <img src="../../../../assets/images/icons8-bookmark-24.png">
        Appointments
    </button>
    <button class="content" mat-button>
        <img src="../../../../assets/images/icons8-assistive-technology-30.png">
        patients
    </button>
</div>