.main{
    display: flex;
    height: 90%;
    width: 95%;
    padding: 20px;
    flex-direction: column;
}

.searchbar{
    display: flex;
    width: 100%;
    justify-content: space-between  ;
    align-items: baseline;
}

.calendar{
    display: flex;
    flex-direction: row-reverse;
}

.status{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 20%;
    height: 50px;
    padding: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 3px rgba(0.1, 0, 0, 0.1);
}

.tables{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 50%;
}

.contents{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.table{
    width: 100%;
    margin-top: 5%;
    flex: 1;
    // border: 1 solid black;
    box-shadow: 1px 1px 5px 3px rgba(0.1, 0, 0, 0.1);
}