<div class="main">
    <div class="container">
        <h1 style="font-size: x-large;font-weight: 500;">Welcome Back</h1>
        <p style="color: #b0b0b0;">Login with your details to continue</p>
        <form class="form" [formGroup]="forgotPasswordUser" (ngSubmit)="onSubmit()">
            <div>
                <label>Email:</label>
                <div>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Email Address</mat-label>
                        <input matInput formControlName="email" placeholder="Email Address">
                    </mat-form-field>
                </div>
            </div>
            <button style="width: 100%;" type="submit" mat-raised-button color="primary">Login</button>
        </form>
        <div style="display: flex;align-items: baseline;justify-content: flex-end;">
            <p style="color: #b0b0b0;">Don't have an account?</p>
            <button mat-button>Sign Up</button>
        </div>
    </div>
</div>