<div class="main">
    <div class="container">
        <h1 style="font-size: x-large;font-weight: 500;">Welcome Back</h1>
        <p style="color: #b0b0b0;">Login with your details to continue</p>
        <form class="form" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
            <div>
                <label>Password:</label>
                <div>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <label>Confirm Password:</label>
                <div>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
                    </mat-form-field>
                </div>
            </div>
            <button style="width: 100%;" type="submit" mat-raised-button color="primary">Login</button>
        </form>
        <div style="display: flex;align-items: baseline;justify-content: flex-end;">
            <p style="color: #b0b0b0;">Don't have an account?</p>
            <button mat-button>Sign Up</button>
        </div>
    </div>
</div>