.main{
    display: flex;
    height: 100%;
    width: 100%;
    min-height: fit-content;
    margin-top: 0%;
}

.top{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.head{
    display: flex;
    align-content: center;
    padding-top: 50px;
}

.credential{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.buttons{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
}
