<div class="main">
    <div class="top">
        <div class="head">
            <img style="background-color: #d0d0d0;width: 25%;height: 25%;padding: 10px;border-radius: 25px;" src="../../../../assets/images/user.png">
            <div class="credential">
                <p><strong>Administrator</strong><br><span>admin@edoc.com</span></p>
            </div>
        </div>
        <button mat-raised-button color="primary" style="width: 70%;">Log out</button>
        <br>
        <hr style="width: 100%;">
        <app-buttons class="buttons"></app-buttons>
    </div>
    <hr>
</div>